<header class="bg-blue text-white pb-2">
    <div class="row">
        <div class="col-3">
            <a [routerLink]="['/']"
                class="nav d-flex align-items-center text-white text-decoration-none justify-content-end">
                <img src="assets/img/logo.png" alt="" />
            </a>
        </div>
        <div class="col-6">
            <ul class="nav mb-2 justify-content-start mb-md-0 d-flex align-items-center height100">
                <li>
                    <a class="nav-link px-2 text-white" [routerLink]="['/objects']" *ngIf="logged">Objetos</a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" [routerLink]="['/users']"
                        *ngIf="role == 'Administrador' && logged">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <div class="text-end height100 d-flex align-items-center justify-content-start">
                <div class="flex-shrink-0 dropdown" data-bs-toggle="dropdown">
                    <button type="button" class="btn btn-outline-light" [routerLink]="['/session']" *ngIf="!logged">
                        Login
                    </button>
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                        data-bs-toggle="dropdown" aria-expanded="false" *ngIf="logged">
                        <img src="/assets/img/user.png" alt="mdo" width="32" height="32"
                            class="rounded-circle user-img" />
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" *ngIf="logged">
                        <li>
                            <a class="dropdown-item email-dropdown">{{ email }}</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/users/myuser']">Mi Perfil</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/session/resetpassword']">Cambiar Contraseña</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="onLogout()">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-end height100 d-flex align-items-center justify-content-start">

            </div>
        </div>
    </div>
</header>