.header {
    background-color: #0F385A;
    width: 100%;
    position: fixed absolute;
    top: 0;
    z-index: 1;
}

.bg-blue {
    background-color: #0F385A;
}

.logo {
    height: 40px;
}

@media (max-width: 576px) {
    .prueba {
        flex-direction: column !important;
    }
}

.user-img {
    background-color: rgba(237, 237, 237, 0.74);
}

.height100 {
    height: 100%;
}

.email-dropdown {
    color: #909090;
}

.email-dropdown:hover {
    background-color: #fff;
}