header {
    background-color: #0F385A;
    width: 100%;
    position: fixed absolute;
    top: 0;
    z-index: 1;
}

.bg-blue {
    background-color: #0F385A;
}

img {
    height: 40px;
}
@media (max-width: 576px){
    .prueba{
        flex-direction: column!important;
    }
}

