.header {
    background-color: #0F385A;
    width: 100%;
    position: fixed absolute;
    top: 0;
    z-index: 1;
}

.bg-blue {
    background-color: #0F385A;
}

.logo {
    height: 40px;
}

.user-img {
    background-color: rgba(237, 237, 237, 0.74);
}