.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
}

.bg-blue {
    background-color: #0F385A;
    color: #fff;
}

.title {
    color: #0F385A;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-title {
    color: #0F385A;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}
.responsive-text{
    font-size: 1rem;
}