<section id="create-object" class="container mb-5">
    <div>
        <label class="title text-center">{{ title }}</label>
    </div>
    <div class="center-div">
        <div class="card p-4 mt-1 form-container">
            <div>
                <label class="form-title text-center mb-3 responsive-text">Información General</label>
            </div>
            <form name=" myForm" [formGroup]="object" (ngSubmit)="onSubmit()">
                <div class="login-container">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label class="responsive-text">Nombre</label>
                                <input type="text" name="name" class="form-control" formControlName="name"
                                    [ngClass]="{ 'is-invalid': (submitted && obj['name'].errors)}" />
                                <div class="text-danger" *ngIf="submitted && obj['name'].errors?.['required']">
                                    Nombre es requerido
                                </div>
                                <div class="text-danger" *ngIf="submitted && obj['name'].errors?.['minlength']">
                                    Nombre debe tener al menos 3 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label class="responsive-text">Descripción</label>
                                <input type="text" name="description" class="form-control" formControlName="description"
                                    [ngClass]="{ 'is-invalid': (submitted && obj['description'].errors)}" />

                                <div class="text-danger" *ngIf="submitted && obj['description'].errors?.['required']">
                                    Descripción es requerido
                                </div>
                                <div class="text-danger" *ngIf="submitted && obj['description'].errors?.['minlength']">
                                    Descripción debe tener al menos 3 caracteres
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label class="responsive-text">Estado</label>
                                <select class="form-select" aria-label="Default select example" formControlName="status"
                                    [ngClass]="{ 'is-invalid': (submitted && obj['status'].invalid)}">
                                    <option selected disabled>Selecciona una opción</option>
                                    <option value={{status}} *ngFor="let status of statuses">{{ status }}</option>
                                </select>
                                <div class="text-danger" *ngIf="submitted && obj['status'].invalid && submitted">
                                    Seleccione una opción
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label class="responsive-text">Tipo de objeto</label>
                                <select class="form-select" formControlName="type"
                                    [ngClass]="{ 'is-invalid': (submitted && obj['type'].invalid)}">
                                    <option selected disabled>Selecciona una opción</option>
                                    <option value={{objectType}} *ngFor="let objectType of objectTypes">{{ objectType }}
                                    </option>
                                </select>
                                <div class="text-danger" *ngIf="submitted && obj['type'].invalid && submitted">
                                    Seleccione una opción
                                </div>
                            </div>
                        </div>

                        <hr class="hr hr-blurry" *ngIf="object.value.status == 'RECLAMADO'" />
                        <div *ngIf="object.value.status == 'RECLAMADO'" class="row" formGroupName="claimer">
                            <div>
                                <label class="form-title text-center mb-3 responsive-text">Información de quién
                                    reclamó</label>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="responsive-text">Nombre</label>
                                    <input type="text" name="email" class="form-control" formControlName="name"
                                        [ngClass]="{ 'is-invalid': (submitted && cla['name'].errors)}" />

                                    <div class="text-danger" *ngIf="submitted && cla['name'].errors?.['required']">
                                        Nombre es requerido
                                    </div>
                                    <div class="text-danger" *ngIf="submitted && cla['name'].errors?.['minlength']">
                                        Nombre debe tener al menos 3 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="responsive-text">Apellido</label>
                                    <input type="text" name="email" ng-model="user.username" class="form-control"
                                        formControlName="lastName"
                                        [ngClass]="{ 'is-invalid': (submitted && cla['lastName'].errors)}" />

                                    <div class="text-danger" *ngIf="submitted && cla['lastName'].errors?.['required']">
                                        Apellido es requerido
                                    </div>
                                    <div class="text-danger" *ngIf="submitted && cla['lastName'].errors?.['minlength']">
                                        Apellido debe tener al menos 3 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="responsive-text">Tipo de Documento</label>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="documentType"
                                        [ngClass]="{ 'is-invalid': (submitted && cla['documentType'].invalid)}">
                                        <option selected disabled>Seleccione una opción</option>
                                        <option value="{{documentType}}" *ngFor="let documentType of documentTypes">{{
                                            documentType
                                            }}</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="submitted && cla['documentType'].invalid && submitted">
                                        Seleccione una opción
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="responsive-text">Documento</label>
                                    <input type="text" name="email" class="form-control" formControlName="document"
                                        [ngClass]="{ 'is-invalid': (submitted && cla['document'].errors)}" />
                                </div>
                                <div class="text-danger" *ngIf="submitted && cla['document'].errors?.['required']">
                                    Documento es obligatorio
                                </div>
                                <div class="text-danger" *ngIf="submitted && cla['document'].errors?.['minlength']">
                                    Nombre debe tener al menos 6 caracteres
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="responsive-text">Contacto</label>
                                    <input type="text" name="email" ng-model="user.username" required
                                        class="form-control" formControlName="contact"
                                        [ngClass]="{ 'is-invalid': (submitted && cla['contact'].errors)}" />
                                    <div class="text-danger" *ngIf="submitted && cla['contact'].errors?.['required']">
                                        Nombre es requerido
                                    </div>
                                    <div class="text-danger" *ngIf="submitted && cla['contact'].errors?.['minlength']">
                                        Nombre debe tener al menos 3 caracteres
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="responsive-text">Tipo de persona</label>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="userType"
                                        [ngClass]="{ 'is-invalid': (submitted && cla['userType'].invalid)}">
                                        <option selected disabled>Seleccione una opción</option>
                                        <option value="{{userType}}" *ngFor="let userType of userTypes">{{ userType
                                            }}</option>
                                    </select>
                                    <div class="text-danger" *ngIf="cla['userType'].invalid && submitted">
                                        Seleccione una opción
                                    </div>
                                </div>
                            </div>
                        </div>



                        <hr class="hr hr-blurry" />
                        <div>
                            <label class="form-title text-center mb-3 responsive-text">Características</label>
                        </div>
                        <div class="mb-3" formArrayName="features">
                            <div *ngIf="this.features.value.length == 0">
                                <div class="width-full mb-3">
                                    <label class="validation-empty">Aún no tienes características
                                        creadas, clickea el + para crear una nueva.</label>
                                </div>
                            </div>
                            <div *ngIf="this.features.value.length != 0">
                                <div class="row">
                                    <div class="col col-md-5">
                                        <div class="mb-3">
                                            <label class="form-title  mb-3 responsive-text">Descripción del
                                                objeto</label>
                                        </div>
                                    </div>
                                    <div class="col col-md-5">
                                        <div class="mb-3">
                                            <label class="form-title mb-3 responsive-text">Tipo de
                                                característica</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngFor="let featureForms of features.controls; let i = index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col col-md-5">
                                        <div class="mb-3">
                                            <select id="name" formControlName="name" class="form-select"
                                                [ngClass]="{ 'is-invalid': (submitted && featureForms.controls['name'].invalid)}">
                                                <option value="" selected disabled>Seleccione una opción</option>
                                                <option value="{{featureType}}"
                                                    *ngFor="let featureType of featureTypes">{{ featureType }}</option>
                                            </select>
                                            <div class="text-danger"
                                                *ngIf="featureForms.controls['name'].invalid && submitted">
                                                Seleccione una opción
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-5">
                                        <div class="mb-3">
                                            <input id="description" type="text" class="form-control"
                                                formControlName="description"
                                                [ngClass]="{ 'is-invalid': (submitted && featureForms.controls['description'].errors?.['required'])}" />
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="featureForms.controls['description'].errors?.['required'] && submitted">
                                            Descripción es obligatoria
                                        </div>
                                    </div>
                                    <div class="col col md-2  text-center">
                                        <button class="btn btn-danger" type="button" (click)="removeFeature(i)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="row">
                                <div class="col col-md-12 text-center">
                                    <button type="button" (click)="addFeature()" class="btn bg-blue btn-rounded">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group text-center">
                                <button type="submit" class="btn bg-blue pull-right responsive-text">
                                    {{ title }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>