<section class="p-2 footer-bs" id="footer">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="derechos">
        <span class="responsive-text">© Todos los derechos reservados</span>
      </div>
    </div>
    <div class="col-3 full-height">
      <div class="icons-footer">
        <a href="https://es-la.facebook.com/poligran/" target="_blank">
          <i class="fa-brands fa-facebook fa-2x"></i>
        </a>
        <a
          href="https://twitter.com/Poligran?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          target="_blank"
        >
          <i class="fa-brands fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/poligrancol/?hl=es" target="_blank">
          <i class="fa-brands fa-instagram fa-2x"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UCYi9S12WxuUFPlqxo97VFWQ"
          target="_blank"
        >
          <i class="fa-brands fa-youtube fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</section>
