#footer {
    background-color: #0F385A;
    width: 100%;
    position: fixed relative;
    bottom: 0;
    z-index: 1;
}

.derechos {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fa-brands {
    color: rgba(255, 255, 255, 0.7);
    margin: 7px;
}

.icons-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.full-height {
    height: 100%;
}

.responsive-text {
    font-size: 2vh;
}