.landing-background {
    height: 86vh;
    background-image: url('/assets/img/poligran-campus.png');
    background-size: cover;
}

.landing-message {
    margin: auto;
    margin-top: 25vh;
    width: 75%;
    padding: 10px;
}

.landing-text{
    font-size: 3vw;
    color: white;
    text-align: center;
    font-weight: bolder;
}