.card {
    width: 18rem;
    height: 100%;
    cursor: pointer;
}

.card:hover {
    border: 10px 10px 0 0 rgba(0, 0, 0, 0, 0.1)
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

.list-object {
    background-color: rgba(0, 0, 0, .1);
}

.search-input {
    width: 100%;
}

.btn-size {
    width: 70%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}