<section class="list-object">
    <div class="container pt-4">
        <div class="row">
            <div class="col-3 col-md-3 col-sm-12">
                <app-filter></app-filter>
            </div>
            <div class="col-lg-9 col-sm-12">
                <ul class="row">
                    <li class="col-4 mb-4" [routerLink]="['object']" *ngFor="let object of objects">
                        <div class="card">
                            <img src="../../../../../../assets/img/descarga.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{object.name}}</h5>
                                <p class="card-text">{{object.description}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>